@import url(./video__iframe.css);

.video__iframes {
    margin: auto;
    width: 1050px;
    margin: 50px auto -50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}