.header__link {
    color: #2F80ED;
    text-decoration: none;
    left: 0px;
}

.header__link:hover {
    opacity: 0.5;
    -webkit-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;
}