.resources__logo {
    width: 270px;
    height: 38px;
    list-style: none;
}

.resources__logo:hover {
    opacity: 0.5;
    -webkit-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;
}